@import "~/node_modules/bootstrap/scss/bootstrap";
@import "~/node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../assets/styles/styles.scss";
@import "../assets/styles/override.scss";
@import "../assets/styles/fileinput.scss";
@import "../assets/styles/card.scss";
@import "~/node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "~/node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "~/node_modules/@fortawesome/fontawesome-free/scss/brands";
// @import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

:root {
  --primary-color: #2BD17E;
  --error-color: #EB5757;
  --bg-color: #093545;
  --input-color: #224957;
  --card-color: #092C39;
  --gray-color: #C3C8D4;
  --font-color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100svh;
  height: auto;
  background-color: var(--bg-color);
  color: var(--font-color);
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

//scrollbar
::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  body {
    background-image: url("/bg-phone.png");
  }
}