.btn-add-movie {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}


.movie_container {
    max-width: 1200px !important;
    padding-bottom: 120px !important;

    header {
        padding: 50px 0;
    }

    .movie_form {
        .form-control {
            max-width: 360px;
            margin-bottom: 24px;
        }
    }

    .group {
        max-width: 360px;

        .btn {
            width: 170px;
        }
    }
}

@media (max-width: 768px) {
    .movie_container {
        padding: 0 16px !important;
        padding-bottom: 120px !important;
    }

    .btn-add-movie {
        height: 24px;
        width: 24px;

        i {
            font-size: 12px;
        }
    }

    .login_wrap {
        width: 90%;
    }
}